<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Be healthy!-The guide for beginners</h1>
        <p>Bio and Fact sheet</p>
    </div>





<div class="row">

  <div class="col bg-danger text-white">
    <p>
      I am Yiming Zhang, the developer of this website. I am a rising senior majoring in computer science and economics. This website is created
      to provide detailed guide for healthy diet and lifestyle.
    </p>

    <div class="bg-warning text-white">
      <h2>
        My contact
      </h2>
      <ul>
        <li> yimingzhang@brandeis.edu</li>
        <li> 20 cooper st, waltham</li>
        <li> Phone: 777777</li>
      </ul>
    </div>

    <h2>
      Websites you may like
    </h2>
    <ul>
      <li> <a href="https://www.healthline.com/nutrition/healthy-eating-for-beginners#TOC_TITLE_HDR_5">Healthy Eating</a></li>
      <li> <a href="https://www.who.int/news-room/fact-sheets/detail/healthy-diet">Healthy diet WHO</a></li>
    </ul>
  </div>

  <div class="col">My Photo
    <img src="images/myphoto.jpg"
     width="100%" alt="photo of Yiming Zhang" >
  </div>

</div>


 <!--
  also add a list and some links
  to your bio,
  and maybe a table ...
-->

<%- include('bootfooter') -%>
