<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Bio and Fact sheet</h1>
    </div>

<div class="row">

  <div class="col bg-danger text-white">
    <h4>
      I am Yiming Zhang, the developer of this website. I am a rising senior majoring in computer science and economics. This website is created
      to provide detailed guide for healthy eating and lifestyles.
    </h4>

    <div class="bg-warning text-white">
      <h2>
        My contact
      </h2>
      <ul>
        <li> yimingzhang@brandeis.edu
        <a class="btn btn-primary btn-lg" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
         Email
        </a>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Send me an emial</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
         <div class="offcanvas-body">
        <div>
          <a href = "mailto:yimingzhang@brandeis.edu">yimingzhang@brandeis.edu</a>
       </div>
       </div>
       </div>
        </li>
        <li> 20 cooper st, waltham</li>
        <li> 777777</li>
      </ul>
    </div>


    <h2>
      Websites you may like
    </h2>
    <ul>
      <li> <a href="https://www.healthline.com/nutrition/healthy-eating-for-beginners#TOC_TITLE_HDR_5">Healthy Eating</a></li>
      <li> <a href="https://www.who.int/news-room/fact-sheets/detail/healthy-diet">Healthy diet WHO</a></li>
    </ul>
  </div>

  <div class="row">
    <img src="images/egg.jpg"
     width="40%" alt="photo of egg" >

  </div>

</div>


 <!--
  also add a list and some links
  to your bio,
  and maybe a table ...
-->

<%- include('bootfooter') -%>
