<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Tim Hickey</h1>
        <p>Bio and Fact sheet</p>
    </div>





<div class="row">
  
  <div class="col bg-warning text-danger">
    <p>
      I am the chair of the Computer Science Department at Brandeis University.
      I was a Brandeis undergrad in 1973-1977 then got my PhD at University
        of Chicago in Mathematics.
    </p>  
    <p>
      I grew in New Mexico from ages 5-17.
    </p>
    
    <div class="bg-danger text-white">
      <h2>
        Places I lived ..
      </h2>
      <ul>
        <li> Lincoln Nebraska</li>
        <li> Albuquerque, NM</li>
        <li> Las Cruces, NM</li>
      </ul>         
    </div>
    
    <h2>
      Websites I like
    </h2>
    <ul>
      <li> <a href="http://www.brandeis.edu">Brandeis</a></li>
      <li> <a href="http://www.cs.brandeis.edu/~tim">My website</a></li>
    </ul>
  </div>
  
  <div class="col"> 
    <img src="https://www.cs.brandeis.edu/~tim/hickey-apr08.gif"
     width="100%" alt="photo of Tim Hickey" >
  </div>
  
</div>


 <!-- 
  also add a list and some links
  to your bio,
  and maybe a table ...    
-->

<%- include('bootfooter') -%>
