<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
    <h1>This is the Demo page</h1>
    <p> This is a paragraph </p>
</div>


<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>English</th> 
      <th>Spanish</th> 
      <th>Japanese</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>one</td>
      <td>uno</td>
      <td>ichi</td>
    </tr>
    <tr>
      <td>two</td>
      <td>dos</td>
      <td>ni</td>
    </tr>
    <tr>
      <td>three</td>
      <td>tres</td>
      <td>san</td>
    </tr>   
  </tbody> 
</table>

<hr>
<h2>Follow the links!</h2>
<ol>
     <li><a href="images/dog.jpg">Dog</a></li>
     <li><a href="images/cat.jpg">Cat</a></li>
     <li><a href="http://www.brandeis.edu">Brandeis</a></li>
</ol>
<hr>

<h1> Four Colors </h1>
<ul>
<li> red </li>
<li> green </li>
<li> blue </li>
<li> black </li>
</ul>

  <img src="images/dog.jpg" width="200">
  <hr>
  <a href="http://www.brandeis.edu">Brandeis</a>

  <h6>Count to 3 in Spanish</h6>
  <ol>
    <li>uno</li>
    <li>dos</li>
    <li>tres</li>
  </ol>

  <div>
    This is a div element
  </div>

  <div class="row">
    <div class="col">
      First Column
      <img src="images/dog.jpg" 
       width="200">
    </div>
    <div class="col">
      Second Column
      <img src="images/cat.jpg" 
       width="200">
    </div>
  </div>

<%- include('bootfooter') -%>
