<%- include('bootheader') -%>
<%- include('menubar') -%>
  <h1>This is the Demo page</h1>
  <p> This is a paragraph </p>
  <img src="images/dog.jpg" 
       width="200">
  <hr>
  <a href="http://www.brandeis.edu">Brandeis</a>
<%- include('bootfooter') -%>
