<%- include('bootheader') -%>
<%- include('menubar') -%>
  <h1>This is the Demo page</h1>
  <p> This is a paragraph </p>
  <img src="images/dog.jpg" width="200">
  <hr>
  <a href="http://www.brandeis.edu">Brandeis</a>

  <h6>Count to 3 in Spanish</h6>
  <ol>
    <li>uno</li>
    <li>dos</li>
    <li>tres</li>
  </ol>

  <div>
    This is a div element
  </div>

  <div class="row">
    <div class="col">
      First Column
      <img src="images/dog.jpg" 
       width="200">
    </div>
    <div class="col">
      Second Column
      <img src="images/cat.jpg" 
       width="200">
    </div>
  </div>

<%- include('bootfooter') -%>
