<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class="jumbotron">
    <h1>Rank</h1>
</div>
    <br>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card" style="width: 18rem;">
        <img src="images/fruit.jpg" class="card-img-top" alt="lowcal">
        <div class="card-body">
          <h5 class="card-title">Low-calorie Fruits</h5>
          <p class="card-text">Top five low-cal fruits</p>
          <a href="/lowcalfruit" class="btn btn-primary">View</a>
        </div>
      </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
        <img src="images/shrimp.jpg" class="card-img-top" alt="lowgi">
        <div class="card-body">
          <h5 class="card-title">Low-GI Ingredients<br></h5>
          <p class="card-text">Generally, food with a GI lower than 55 are called low-GI foods.
         </p>
          <a href="/lowgi" class="btn btn-primary">View</a>
        </div>
      </div>
        </div>
        <div class="col">
          <div class="col">
            <div class="card" style="width: 18rem;">
          <img src="images/protein.jpg" class="card-img-top" alt="highprotein">
          <div class="card-body">
            <h5 class="card-title">High-protein Sea Food<br></h5>
            <p class="card-text">Top five high-protein seafoods
           </p>
            <a href="/highprotein" class="btn btn-primary">View</a>
          </div>
        </div>
          </div>
        </div>
      </div>
    </div>








<%- include('bootfooter') -%>
