<%- include('bootheader') -%>
<%- include('menubar') -%>
    <h1>
    Demo and form
    </h1>
    <br>
    <h2>Diets</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Raw food diet</th>
          <th>Vegan diet</th>
          <th>Atkins diet</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>The Zone Diet</td>
          <td>Weight Watchers Diet</td>
          <td>Ketogenic Diet</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h2>Check out the links</h2>
    <ol>
         <li><a href="https://www.medicalnewstoday.com/articles/5847">Nine Most Popular Diets</a></li>

    </ol>
    <hr>

    <h1> More information about this website... </h1>
    <ul>
    <li>Learn about popular diets</li>
    <li>Learn about sports</li>
    </ul>

<hr>
<form method="post" action="/showformdata" class="bg-info">
  Enter your name:
  <input type="text"
         name="fullname"
         placeholder="your full name"><br>
  What healthy diet or lifestyle do you prefer?
  <input type="text"
         name="major"><br>
  Do you have the habit for exercise?
  <select name="Rate from 1 to 3(1 as the lowest degree)">
    <option>1</option>
    <option>2</option>
    <option>3</option>
  </select>

  <br>
  Tell me about yourself:
  <textarea name="bio" rows="10" cols="40"></textarea>
  <br>
  Are you over 18?<br>
  yes <input type="radio" name="over18" value="yes"><br>
  no  <input type="radio" name="over18" value="no"><br>
  don't want to say
      <input type="radio" name="over18" value="maybe"><br>

How would you like to obtain healthy lifestyle?:<br>
  Enjoy plenty of fruits and vegetables<input type="checkbox" name="interest" value="fruit"><br>
  More exercise <input type="checkbox" name="interest" value="moreexercise"><br>
  Eat less<input type="checkbox" name="interest" value="eatless"><br>

  <hr>

  <input type="submit" value="Register now">
</form>


<hr>


<%- include('bootfooter') -%>
