<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="bg-warning">
        <h1>Top 5 High-protein Seafoods</h1>
        <p>High protein diet will increase satiety, promote body metabolism, improve the
          efficiency of calorie consumption, while protein is an essential component of
          muscle growth, the intake of adequate protein can also help to build muscle</p>
     <br>
    </div>
    <br>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card" style="width: 18rem;">
        <img src="images/bayu.JPG" class="card-img-top" alt="1">
        <div class="card-body">
          <h5 class="card-title">1. Spanish mackerel</h5>
          <p class="card-text">Protein:21.2g/100g</p>
          <button type="button" class="btn btn-outline-info">
           121 kcal/100g</button>
        </div>
      </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
          <img src="images/xia.JPG" class="card-img-top" alt="2">
          <div class="card-body">
          <h5 class="card-title">2.Shrimp </h5>
          <p class="card-text">Protein:21.2g/100g</p>
          <button type="button" class="btn btn-outline-info">96 kcal/100g</button>
          </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
          <img src="images/bimuyu.JPG" class="card-img-top" alt="3">
          <div class="card-body">
          <h5 class="card-title">3. Flatfish</h5>
          <p class="card-text">Protein:21.1g/100g</p>
          <button type="button" class="btn btn-outline-info">107 kcal/100g</button>
          </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
          <img src="images/xueyu.JPG" class="card-img-top" alt="4">
          <div class="card-body">
          <h5 class="card-title">4. Cod</h5>
          <p class="card-text">
            Protein:20.4g/100g</p>
            <button type="button" class="btn btn-outline-info">88 kcal/100g</button>
          </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
          <img src="images/qingyu.JPG" class="card-img-top" alt="5">
          <div class="card-body">
          <h5 class="card-title">5. Black carp</h5>
          <p class="card-text">Protein:20.1g/100g</p>
          <button type="button" class="btn btn-outline-info">118 kcal/100g</button>
          </div>
          </div>
        </div>
      </div>
    </div>






<%- include('bootfooter') -%>
