<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="bg-warning">
        <h1>Yiming Zhang's app-Healthy Eating HelpGuide</h1>
        <h5>Click on the menu bar to see more</h5>
    </div>
    <br>
    <img src="images/homepage.jpg"
     width="80%" alt="photo" >


  

<%- include('bootfooter') -%>
