<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Yiming Zhang's app-Guide for healthy lifestyle</h1>
        <p>Click on the menu bar to see more</p>
    </div>
    <br>
    <img src="images/5.JPG"
     width="68%" alt="photo" >



<%- include('bootfooter') -%>
