<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>App Design Demo 2021</h1>
        <p>Demonstrating Node/Express features</p>
    </div>



<%- include('bootfooter') -%>
