<%- include('bootheader') -%>

<%- include('menubar') -%>
<div class="row">
  <div class="col">
    <div class="jumbotron">
        <h3>How much sugar intake is OK per day?</h3>
        <p> Please enter your sugar intake of today(in teaspoon):</p>
    </div>
    <form method="post" action="/showintake">
        Sugar intake <input type="text" name="sugarintake"> <br><br>
     <input type="submit" value="calculate">
</form> <br>

  <img src="images/images.png"
   width="80%" alt="photo" >
</div>
</div>


<%- include('bootfooter') -%>
