<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="bg-warning">
        <h1>Top 5 low-cal Fruits</h1>
    </div>
    <br>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card" style="width: 18rem;">
        <img src="images/luhui.JPG" class="card-img-top" alt="1">
        <div class="card-body">
          <h5 class="card-title">1. Aloe</h5>
          <p class="card-text">4 kcal/100 grams</p>
          <button type="button" class="btn btn-outline-success">(per 100 grams)<br>
           4.2% Protein <br>75.6% Fat <br>20.2% carbohydrate</button>
        </div>
      </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
          <img src="images/peach.JPG" class="card-img-top" alt="2">
          <div class="card-body">
          <h5 class="card-title">2. White Peach</h5>
          <p class="card-text">26 kcal/100 grams</p>
          <button type="button" class="btn btn-outline-success">(per 100 grams)<br>
           18.5% Protein <br>3.2% Fat <br>78.3% carbohydrate</button>
          </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
          <img src="images/tiangua.JPG" class="card-img-top" alt="3">
          <div class="card-body">
          <h5 class="card-title">3. Melon</h5>
          <p class="card-text">26 kcal/100 grams</p>
          <button type="button" class="btn btn-outline-success">(per 100 grams)<br>
           5.9% Protein <br>3.3% Fat <br>90.8% carbohydrate</button>
          </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
          <img src="images/qingmugua.JPG" class="card-img-top" alt="4">
          <div class="card-body">
          <h5 class="card-title"><br><br><br><br>
            4. Green Papaya</h5>
          <p class="card-text">
            29 kcal/100 grams</p>
            <button type="button" class="btn btn-outline-success">(per 100 grams)<br>
             7.8% Protein <br>2.0% Fat <br>90.3% carbohydrate</button>
          </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
          <img src="images/mugua.JPG" class="card-img-top" alt="5">
          <div class="card-body">
          <h5 class="card-title">5. Papaya</h5>
          <p class="card-text">30 kcal/100 grams</p>
          <button type="button" class="btn btn-outline-success">(per 100 grams)<br>
           7.7% Protein <br>0.0% Fat <br>92.3% carbohydrate</button>
          </div>
          </div>
        </div>
      </div>
    </div>






<%- include('bootfooter') -%>
