<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="bg-warning">
        <h1>Top 5 low-gi Food</h1>
        <p>The digestion and absorption of low-gi foods is relatively slow, keeping blood sugar levels stable and bringing a longer satiety.</p>
     <br>
    </div>
    <br>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card" style="width: 18rem;">
        <img src="images/tudoufen.JPG" class="card-img-top" alt="1">
        <div class="card-body">
          <h5 class="card-title">1. Potatoes vermicelli</h5>
          <p class="card-text">GI:13.6</p>
          <button type="button" class="btn btn-outline-success">
           344 kcal/100g</button>
        </div>
      </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
          <img src="images/damai.JPG" class="card-img-top" alt="2">
          <div class="card-body">
          <h5 class="card-title">2. Barley</h5>
          <p class="card-text">GI:25.0</p>
          <button type="button" class="btn btn-outline-success">327 kcal/100g</button>
          </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
          <img src="images/lvdoumian.JPG" class="card-img-top" alt="3">
          <div class="card-body">
          <h5 class="card-title">3. Bean flour</h5>
          <p class="card-text">GI:33.0</p>
          <button type="button" class="btn btn-outline-success">341 kcal/100g</button>
          </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
          <img src="images/heimai.JPG" class="card-img-top" alt="4">
          <div class="card-body">
          <h5 class="card-title">4. Rye</h5>
          <p class="card-text">
            GI:34.0</p>
            <button type="button" class="btn btn-outline-success">338 kcal/100g</button>
          </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
          <img src="images/kuanfen.JPG" class="card-img-top" alt="5">
          <div class="card-body">
          <h5 class="card-title">5. Sweet potato vermicelli</h5>
          <p class="card-text">GI:35.0</p>
          <button type="button" class="btn btn-outline-success">312 kcal/100g</button>
          </div>
          </div>
        </div>
      </div>
    </div>






<%- include('bootfooter') -%>
