<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Health Guide</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item ">
        <a class="nav-link" href="/"><button type="button" class="btn btn-primary btn-lg">Home</button></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/about">  <button type="button" class="btn btn-success btn-lg">My Bio</button></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/form">  <button type="button" class="btn btn-danger btn-lg">Form Page</button></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/intake"><button type="button" class="btn btn-warning btn-lg">Sugar-intake</button></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/checkhealth">  <button type="button" class="btn btn-info btn-lg">Health Check-in</button></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/recipe"> <button type="button" class="btn btn-dark btn-lg">Recipes</button>
</a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" href="/foodrank"><button type="button" class="btn btn-primary btn-lg">Food Rank</button></a>
      </li>

    </ul>

  </div>
</nav>
