<%- include('bootheader') -%>

<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Check out meal plans for healthy diet</h1>
    </div>
<form method="post" action="/getRecipes">
    Start by entering one healthy ingredient:
    <input type="text" name="food"><br>
    <input type="submit">
</form>


<%- include('bootfooter') -%>
